.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.header-card {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.header-card a{
    text-decoration: none;
    color: black;
}

.color {
    width: 100%;
    background-color: #E3E3E1;
}

.logo {
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.social {
    width: 20%;
}

.social ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .header {
        justify-content: space-evenly;
    }

    .social {
        display: none;
    }
}