.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.main__block {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main__img img {
    height: 400px;
}

.block__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 30px;
}

.block__text h1 {
    letter-spacing: 10px;
}

.block__link {
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 30%;    
}

.link__text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.block__link img {
    width: 20px;
    height: 15px;
    margin-left: 10px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-top: 90px;
    flex-wrap: wrap;

}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card__block {
    padding: 20px;
    border: 1px solid black;
    flex-basis: 350px;
}

@media screen and (max-width: 1200px) {
    .card {
        grid-template-columns: 0.4fr 0.4fr;
        justify-content: center;
        
    }
}
@media screen and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .main__block {
        width: 80%;
        margin-bottom: 50px;
    }

    .block__link {
        width: 100%;
    }
    .card {
        grid-template-columns: 0.4fr;
        justify-content: center;
        
    }

}