@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Serif Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F2EB;
}

.content {
  width: 100%;
  min-height: calc(100vh - 100px - 77px);
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}