.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.footer__text {
    width: 30%;
}

.footer__num {
    width: 30%;
    letter-spacing: 5px;
}

.footer__social {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .footer {
        justify-content: space-evenly;
    }

}